
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 14px;
}
.lt{
  float: left;
}
.rt{
  float: right;
}
.ct{
  text-align: center;
}
.footer{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height: 51px;
  background: #2CA2F9;
  color:#fff;
}
/* 父容器 */
.bg-purple-dark {
  min-height: 100px;
  height: 100px;
  background: #1a1a1a;
  background-image: linear-gradient(#000,#121212);
}
/* 子模块 */
.m-c-t{
  width: 1220px;
  height: 100%;
  margin: 0 auto;
}
.m-c-t a{
  color: #c8c8c8;
}
.mg-t10{
  margin-top: 10px;
}
.m-c-t .lt .el-input__inner{
  width: 384px;
}
.breadList{
  width: 100%;
  padding: 31px 0;
  height: 90px;
  position: relative;
  background: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0,0,0,.04);

}
.logo a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: deepskyblue;
  font-size: 30px;
  padding-top: 8px;
  text-decoration: none;
  color:#fff;
}
.siContent{
  margin-left:400px;
}
.head-ct{
  overflow: hidden;
  padding-top: 25px;
}
.el-icon-setting:before{
  font-size:30px;
}
.maincontainer{
  width: 100%;
  height:600px;
  background: #ededed;
  overflow: hidden;
}
.carouselcontent{
  margin-top:30px;
}
.carouselcontent .el-carousel__item h3 {
  width: 100%;
  line-height: 400px;
}
.carouselcontent .el-carousel__item h3 img{
  height:100%;
  min-height: 100%;
  min-width:100%;
}
.carouselcontent .el-carousel{
  border-radius: 10px;
}